body {
    background: url("../img/background/background_003.jpg");
}

.main-body {
    background: rgba(240, 240, 240, .6);
    border-radius: 8px;
    padding: 20px;
}

.title {
    color: black;
}

.text {
    color: black;
    font-size: 18px;
    font-style: revert;
}

.info {
    color: gray;
}